*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}


body{
    font-family:monospace;
    display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height:100vh;
  background-image: url(images/desert.jpg);
  background-size: cover;
}

.header{
display:flex;
justify-content: center;
align-items: center;
font-size:2.5rem;
margin-bottom:1.5em;
text-align: center;
}


#container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select-time{
    display:flex;
    max-width:75%;
    justify-content: center;
}

.select-time input{
    min-width:60px;
}
.clock{
    display:flex;

}


label{
    font-size:1.5rem;
}

.time-input{
    font-size:1.5rem;
margin-right:1em;
width:100%;
}

input{
    padding-top:2px;
    padding-left:6px;
    border-radius:4px;
    border:none;
}

.timer{
font-size:5rem;
margin-top:1em;
margin-bottom:1em;
margin-right:20px;
}

.time-text{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.5rem;
    margin-right:1em;
}

button{
    height:40px;
    width:100px;
    cursor: pointer;
    border:none;
    border-radius:4px;
    background-color:rgb(241, 150, 30);
    color:white;
    margin-right: 20px;
    font-weight: 550;
}

button:hover{
    color: rgb(241, 150, 30);
        background-color: linen;
        transition:0.3s;
}


audio{
    display:none;
}


.modal{
    position:absolute;
    width:300px;
    height:200px;
    background-color:gray;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:2rem;
    display: none;
}

#modal-btn{
    margin-top:1em;
    margin-right:0;
    text-align: center;
}
.modal-active{
    display:flex;
}

.body-shadow{
    opacity:0.2;
}

 .btn-cntr {
     display: flex;
     flex-wrap: wrap;
 }

@media screen and (max-width:700px) {
 
    .timer{
        font-size:2.5rem;
    }
    .time-text{
        font-size:1rem;
    }
        button {
            height: 30px;
            width: 60px;
            font-size:12px;
        }

}